.hoverSliderContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

.hoverSlider {
  overflow: hidden;
  width: 100%;
  border-radius: 10px;
}

.sliderTrack {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  cursor: grab;

  transition: transform 0.5s ease-in-out;
}

.sliderTrack:active {
  cursor: grabbing;
}
.sliderImage {
  flex-shrink: 0;
  width: 100%;
  height: 500px; /* або бажана висота */
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dots {
  display: flex;
  gap: 5px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
}

.activeDot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #333;
}

.prevButton,
.nextButton {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2em;
  color: #777;
  padding: 5px;
}

.prevButton:hover,
.nextButton:hover {
  color: #333;
}
