.nav {
  position: sticky;
  top: 0;
  background-color: #ffd1dc;
  padding: 1rem 40px;
  display: flex;
  justify-content: space-between; /* Розташовує елементи по краях контейнера */
  align-items: center; /* Вертикальне вирівнювання по центру */
  box-shadow: 0 0 15px #dc143c;
  z-index: 1000;
}

.styledLink {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  color: #dc143c;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
  font-weight: 500;
  font-size: 25px;
  letter-spacing: 0.05em;
  text-align: center;
}

.styledLink:nth-child(2) {
  /* Стилізуємо другий елемент (Початок дружби) для центрування */
  margin: 0 auto; /* Автоматичні відступи зліва та справа для центрування */
}

.styledLink:hover {
  color: #a61e4d;
  transform: scale(1.1);
}

.styledLink::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: #d63384;
  transition: width 0.3s ease;
}

.styledLink:hover::after {
  width: 100%;
}
