.scrollArrow {
  position: fixed;
  right: 20px;
  background-color: white;
  color: #d81b60;
  border: none;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollArrow:hover {
  box-shadow: 0 0 20px #d30333;
}

.up {
  bottom: 80px; /* трохи вище */
}

.down {
  bottom: 20px;
}
